@(contatoForm: Form[Contato], heading: String)
@main{

<h1>@heading</h1>

<form action="@routes.ContatoCRUD.doNovo()" method="POST">
    <input type="hidden" name="id" value="@contatoForm("id").value">
    <div>
        <label for="name">Nome</label>
        <div class="input">
            <input type="text" id="name" name="nome" value="@contatoForm("nome").value" autofocus="">
            <span class="help-inline">@(contatoForm("nome").errors.map { e =>
            play.api.i18n.Messages(e.message, e.arguments: _*)
        }.mkString(", "))</span>
        </div>
    </div>
    <br />
    <div>
        <label for="phone">Telefone<small><p>(Exemplo: +551198525-1525)</small></p></label>
    <div class="input">
        <input type="text" id="phone" name="telefone"
               value="@contatoForm("telefone").value" data-mask="(00) 0000-0000" data-mask-selectonfocus="true"><br />

    </div>
</div>
    <br />
    <div>
        <button type="submit" class="btn btn-success">Salvar</button>
        <a class="btn btn-default" href="@routes.ContatoCRUD.list()">Voltar</a>
    </div>
</form>

}
