@(heading: String)

@main {

<h1 class="page-header">@heading</h1>

<!--<ol class="breadcrumb">-->
    <!--<li><a href="/">Início</a></li>-->
    <!--<li class="active">@heading</li>-->
<!--</ol>-->



<div class="row">
    <div class="col-xs-12 col-md-12">
        <h2 class="page-header">O Projeto</h2>

    <div class="col-xs-12 col-md-12">
        <!--<img src="http://csharpcorner.mindcrackerinc.netdna-cdn.com/UploadFile/francissvk/crud-operations-in-Asp-Net-mvc-using-ado-net/Images/CRUD.png">-->


        <p>Este projeto é um <strong>CRUD</strong> (create, read, update e delete) realizado com o objetivo de compreender a sintaxe da linguagem Java e do Play Framework, podendo todo o código ser usado para fins didáticos ou particulares. </p>
        <br />
        <h4>Download</h4>
        <ul>
        <li>        <p>GitHub: <a href="https://github.com/danielgoncalvesti/playframework-phonebook-java-nodatabase">https://github.com/danielgoncalvesti/playframework-phonebook-java-nodatabase</a> </p>
        </li>
        </ul>
    </div>
</div>
</div><br />

<div class="row">
    <div class="col-xs-12 col-md-8">
<h2 class="page-header">O Autor</h2> <br />


<div class="row">
    <div class="col-xs-12 col-md-4">
        <a href="#" class="thumbnail box">
            <img class="box" src="https://avatars1.githubusercontent.com/u/6451843?v=3&s=466" alt="...">
        </a>
    </div>

    <div class="col-xs-12 col-md-8">
    <h3>Daniel Gonçalves da Silva<small> - Analista de TI na Universidade Federal do ABC</small></h3>
    <p>Bacharel em Sistemas de Informação pela Fundação Santo André e mestrando em Ciência da Computação pela Universidade Federal do ABC. </p>

    <ul class="nav nav-pills">
        <li>
        <a class="" href="https://github.com/danielgoncalvesti" target="_blank" style="color:black">

            <i class="fa fa-github fa-2x"></i>

        </a>
        </li>
        <li>
            <a class="" href="https://twitter.com/dnielgoncalves" target="_blank">

                    <i class="fa fa-twitter fa-2x"></i>

            </a>
        </li>
    </ul>
    </div>
</div>
    </div>

</div>
</div>

}